@charset "UTF-8";
html,
body {
  position: relative;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-family: '微軟正黑體';
  font-size: 18px;
  color: #666; }

.swiper-container.master {
  width: 100%;
  height: 100%; }
  .swiper-container.master .swiper-slide[stype="master"] {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }

.swiper-pagination {
  display: none; }

#about {
  background-position: right bottom; }

#footer {
  height: 120px !important;
  background-size: contain; }

/* Styles */
.slogan {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 70vh; }
  @media (max-height: 414px) {
    .slogan {
      height: 130px; } }
  .slogan img {
    position: absolute;
    bottom: 0;
    left: 0; }

.logo {
  position: absolute;
  width: 100%;
  transform: translateY(-110%); }
  .logo img {
    width: 50%;
    max-height: 50px; }

.nav_area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13vh;
  min-height: 90px;
  background: rgba(6, 23, 74, 0.6); }
  .nav_area ul {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    padding: 0;
    list-style: none; }
    .nav_area ul li {
      flex: 1;
      letter-spacing: 1px;
      color: #fff; }
      .nav_area ul li + li {
        border-left: 1px solid rgba(255, 255, 255, 0.5); }

.pageHome,
.pageDown {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5vh;
  min-width: 30px;
  transform: translateX(-50%); }
  .pageHome img,
  .pageDown img {
    animation: moveNavArrow 1s infinite; }

.pageHome {
  bottom: 0;
  left: 90%; }

@keyframes moveNavArrow {
  0% {
    opacity: .5;
    transform: translateY(0); }
  35% {
    opacity: 1;
    transform: translateY(-4px); }
  100% {
    opacity: .5;
    transform: translateY(0); } }

.about-tit {
  margin-top: 10px;
  width: 35vh;
  min-height: 40px; }

.about-cont {
  margin: 10px 0 80px;
  background: rgba(255, 255, 255, 0.7); }
  .about-cont img {
    margin: 15px 0 30px;
    height: 75vw;
    max-height: 225px; }

.project-sub {
  margin: 5vh 0; }

.project-box {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(35, 24, 21, 0.4); }
  .project-box > i {
    position: absolute;
    top: 0;
    left: 20px;
    width: 5vh;
    min-width: 40px;
    height: 5vh;
    min-height: 40px;
    background: #2155A2;
    transform: translateY(-50%); }
    .project-box > i img {
      margin-top: 10%;
      width: 80%;
      vertical-align: middle; }
  .project-box .project-img {
    height: 40vh;
    background-size: cover; }
    .project-box .project-img.construction {
      background: url("../img/project-construction.jpg") center top; }
    .project-box .project-img.decoration {
      background: url("../img/project-decoration.jpg") center top; }
  .project-box .project-foot {
    background: #fff; }

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px; }
  .close-btn:before, .close-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #A6A6A6;
    transform: rotate(45deg); }
  .close-btn:after {
    transform: rotate(-45deg); }

.project-cont {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden; }

.photo {
  max-height: calc(60vh - 80px);
  overflow: hidden; }

.photo_wrap {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.summary {
  height: 40vh;
  overflow-y: auto;
  text-align: left; }
  .summary h2, .summary h4 {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: normal; }
  .summary h2 {
    font-weight: bold; }
  .summary h3 em {
    font-size: 20px;
    display: block;
    font-weight: normal; }
  .summary h3 strong {
    display: block;
    margin-top: 5px;
    font-size: 26px; }
  .summary dl {
    margin-top: 15px;
    line-height: 1.5em;
    font-size: 16px; }
  .summary .row {
    margin-top: 2px;
    overflow: hidden; }
  .summary dt {
    float: left; }
  .summary dd {
    overflow: hidden; }

.listdown,
.listup,
.listleft,
.listright {
  width: 12px;
  height: 12px; }
  .listdown:before, .listdown:after,
  .listup:before,
  .listup:after,
  .listleft:before,
  .listleft:after,
  .listright:before,
  .listright:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid;
    transform: rotate(47deg) translate(49%, 0px); }
  .listdown:after,
  .listup:after,
  .listleft:after,
  .listright:after {
    transform: rotate(-47deg) translate(-49%, 0px); }

.listleft,
.listright {
  position: absolute;
  top: 47%;
  width: 30px;
  color: #a6a6a6; }

.listleft {
  left: 10px;
  margin-top: 30px;
  transform: rotate(-90deg); }

.listright {
  right: 10px;
  transform: rotate(90deg); }

.nav {
  z-index: 2;
  padding: 20px 30px;
  border-width: 1px;
  border-color: #666;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  color: #666; }
  .nav.full {
    background: #246600;
    border-color: #fff;
    color: #fff; }
  .nav .listdown,
  .nav .listup {
    display: inline-block;
    position: relative;
    left: 10px;
    transition: .3s; }
  .nav .listup {
    transform: rotate(180deg); }
  .nav ul {
    display: none;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    max-height: calc(100% - 35px);
    overflow-y: auto;
    border-top: 1px solid #fff;
    list-style: none; }

.mask {
  z-index: 1;
  background: #eee; }

/* Layout */
.container {
  display: table-cell;
  padding: 0 5vw;
  vertical-align: middle;
  text-align: center; }

.full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hide {
  display: none !important; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.w-half {
  width: 47%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.pswp--touch .pswp__button--arrow--left, .pswp--touch .pswp__button--arrow--right {
  visibility: visible !important; }
