html,
body {
    position: relative;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: '微軟正黑體';
    font-size: 18px;
    color: #666;
}
.swiper-container.master {
    width: 100%;
    height: 100%;
    .swiper-slide[stype="master"] {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
.swiper-pagination {
    display: none;
}
#about {
    background-position: right bottom;
}
#footer {
    height: 120px !important;
    background-size: contain;
}

/* Styles */
.slogan {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    height: 70vh;
    @media (max-height: 414px) {
        height: 130px;
    }
    img {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.logo {
    position: absolute;
    width: 100%;
    transform: translateY(-110%);
    img {
        width: 50%;
        max-height: 50px;
    }
}
.nav_area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13vh;
    min-height: 90px;
    background: rgba(6, 23, 74, 0.6);
    ul {
        display: flex;
        justify-content: space-around;
        margin: 15px 0;
        padding: 0;
        list-style: none;
        li {
            flex: 1;
            letter-spacing: 1px;
            color: #fff;
            + li {
                border-left: 1px solid rgba(255, 255, 255, .5);
            }
        }
    }
}
.pageHome,
.pageDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 5vh;
    min-width: 30px;
    transform: translateX(-50%);
    img {
        animation: moveNavArrow 1s infinite;
    }
}
.pageHome {
  bottom: 0;
  left: 90%;
}
@keyframes moveNavArrow{
    0%{
        opacity: .5;
        transform:translateY(0);
    }
    35%{
        opacity: 1;
        transform:translateY(-4px);
    }
    100%{
        opacity: .5;
        transform:translateY(0);
    }
}

.about-tit {
  margin-top: 10px;
  width: 35vh;
  min-height: 40px;
}
.about-cont {
  margin: 10px 0 80px;
  background: rgba(255, 255, 255, .7);
  img {
    margin: 15px 0 30px;
    height: 75vw;
    max-height: 225px;
  }
}

.project-sub {
  margin: 5vh 0;
}
.project-box {
  position: relative;
  margin-bottom: 20px;
  // height: 40vh;
  // background: url('../img/project-construction.jpg') center top;
  // background-size: cover;
  box-shadow: 5px 5px 10px rgba(35, 24, 21, .4);
  > i {
    position: absolute;
    top: 0;
    left: 20px;
    width: 5vh;
    min-width: 40px;
    height: 5vh;
    min-height: 40px;
    background: #2155A2;
    transform: translateY(-50%);
    img {
      margin-top: 10%;
      width: 80%;
      vertical-align: middle;
    }
  }
  .project-img {
    height: 40vh;
    background-size: cover;
    &.construction {
      background: url('../img/project-construction.jpg') center top;
    }
    &.decoration {
      background: url('../img/project-decoration.jpg') center top;
    }
  }
  .project-foot {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    background: #fff;
    // transform: translateY(100%);
  }
}
.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #A6A6A6;
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.project-cont {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}
.photo {
  max-height: calc(60vh - 80px);
  overflow: hidden;
}
.photo_wrap {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.summary {
  // margin: 0 20px;
  height: 40vh;
  overflow-y: auto;
  text-align: left;
  h2, h4 {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: normal;
  }
  h2 {
    font-weight: bold;
  }
  h3 {
    em {
      font-size: 20px;
      display: block;
      font-weight: normal;
    }
    strong {
      display: block;
      margin-top: 5px;
      font-size: 26px;
    }
  }
  dl {
    margin-top: 15px;
    line-height: 1.5em;
    font-size: 16px;
  }
  .row {
    margin-top: 2px;
    overflow: hidden;
  }
  dt {
    float: left;
  }
  dd {
    overflow: hidden;
  }
}
.listdown,
.listup,
.listleft,
.listright {
  width: 12px;
  height: 12px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid;
    transform: rotate(47deg) translate(49%, 0px);
  }
  &:after {
    transform: rotate(-47deg) translate(-49%, 0px);
  }
}
.listleft,
.listright {
  position: absolute;
  top: 47%;
  width: 30px;
  color: #a6a6a6;
}
.listleft {
  left: 10px;
  margin-top: 30px;
  transform: rotate(-90deg);
}
.listright {
  right: 10px;
  transform: rotate(90deg);
}
.nav {
  z-index: 2;
  padding: 20px 30px;
  border-width: 1px;
  border-color: #666;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  color: #666;
  &.full {
    background: #246600;
    border-color: #fff;
    color: #fff;
  }
  .listdown,
  .listup {
    display: inline-block;
    position: relative;
    left: 10px;
    transition: .3s;
  }
  .listup {
    transform: rotate(180deg);
  }
  ul {
    display: none;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    max-height: calc(100% - 35px);
    overflow-y: auto;
    border-top: 1px solid #fff;
    list-style: none;
  }
}
.mask {
  z-index: 1;
  background: #eee;
}

/* Layout */
.container {
    display: table-cell;
    padding: 0 5vw;
    // width: 100%;
    vertical-align: middle;
    text-align: center;
}
.full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hide {
    display: none !important;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.w-half {
  width: 47%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

// Plug in
.pswp--touch .pswp__button--arrow--left, .pswp--touch .pswp__button--arrow--right {
  visibility: visible !important;
}