@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700,900');

html, body {
 position: relative;
 height: 100%;
 overflow-x: hidden;
}
body {
 font-family: "Microsoft JhengHei",微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
 line-height:1.42857143;
  /*color:#333333;*/
 overflow-x: hidden;
 margin:0;
 color:#000;
 background: #eee;
 font-size: 14px;
 padding: 0;
 font-weight: 100;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:#fff!important;text-decoration:none;font-size: 14px;}
h1,h2,h3,h5,h6{
  font-family: "Microsoft JhengHei",微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
  color: #4C4948;
  margin: 15px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 400;
}

p{
  font-family: "Microsoft JhengHei",微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
  color: black;
  margin: 15px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 400;
}

h4{
  font-family: "Microsoft JhengHei",微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 20px;
  color: #4C4948;
  font-size: 16px;
  margin: 15px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 400;
}

.row{
  margin-right: 9%;
  margin-left: 9%;
}

.wrapper {
 max-width: 1200px;
 margin: 0 auto;
}
.swiper-container {
 width: 100%;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
}
.swiper-slide {
 text-align: center;
 font-size: 18px;
 background-size: cover;
 background-position: center;

 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center;
 flex-direction: column;
}

.swiper-wrapper img{
  width: 82%;
  border-radius:0px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 10px;
  margin-right: 0;
}

.swiper-wrapper .overlaybanner img{
  width: 82%;
  border-radius:0px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 10px;
  margin-right: 0;
  margin-top: 0%;
}

.t1,
.t2 {
  .swiper-button-next, .swiper-button-prev {
    top: 0;
    width: 100px;
    height: 100%;
  }
}

.t1 img,
.t2 img{
  width: 82%;
  border-radius:0px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 10px;
  margin-right: 0;
  margin-top: -20%;
}

.t1 .swiper-wrapper,
.t2 .swiper-wrapper{
 position: relative;
 width: 30% !important;
 z-index: -1 !important;
 border-radius:10px !important;
 padding: 0;
 margin-top: 0%;
//  transition-timing-function: cubic-bezier(0.8, 0.14, 0.94, 0.81);
//  transition-timing-function: cubic-bezier(1, 0.01, 0.39, 1);
}


.cn1 {
  text-align: center;
	align-items: left;
	}

.cn1 img{
  text-align: center !important;
}

.cn2{
  text-align: left !important;
  margin: 10px;
}

.swiper-slide .content,
.swiper-slide .content:after,
.swiper-slide .content:before {
   transition: all 0.58s cubic-bezier(.8,.14,.94,.81);
}

.swiper-slide .content {
 opacity: 0;
 padding: 2rem 4rem;
 color: #fff;
 margin: 30px;
 position: relative;
}

.swiper-slide .content:before {
 left: -0.5rem;
 top: -0.5rem;
}

.swiper-slide .content:after {
 left: 0.5rem;
 top: 0.5rem;
}

.swiper-slide.animate-up .content {
 transform: translateY(-50px);
}

.swiper-slide.animate-down .content {
 transform: translateY(50px);
}

.swiper-slide.transitioned .content {
 opacity: 1;
 transform: translateY(0px);
 transition: all 0.6s 0.11s ease;
}


.button {
 padding: 0.5rem 1.5rem;
 font-size: 18px;
 background: #fff;
 border: none;
 font-family: Muli, sans-serif;
 font-weight: 100;
 font-size: 0.8rem;
 text-transform: uppercase;
 letter-spacing: 0.11rem;
 border: 1px solid #fff;
 color: #212121;
}


.swiper-pagination-bullet {
 border-radius: 50%;
 box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
 -webkit-transition: box-shadow 0.3s ease;
 transition: box-shadow 0.3s ease;
 background: transparent;
 width: 15px;
 height: 15px;
 padding: 0;
 text-indent: -999em;
 background: rgba(255,255,255,0.3);
 position: relative;
 margin: 5px 0;
 opacity: 1;
}

.swiper-pagination-bullet:before {
 content: "";
 -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
 transition: background-color 0.3s ease, transform 0.3s ease;
 top: 0;
 left: 0;
 width: 15px;
 height: 15px;
 outline: none;
 border-radius: 50%;
 background-color: rgb(255, 255, 255);
 background-color: rgba(255, 255, 255, 0.3);
 text-indent: -999em;
 cursor: pointer;
 position: absolute;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
 box-shadow: 0 0 0 1px rgba(255, 255, 255,1);
 border: none;
 border-radius: 50%;
 background: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:before,
.swiper-pagination-bullet:hover:before {
   transform: scale(0.2);
   -webkit-transform: scale(0.2);
   background-color: rgb(255, 255, 255);
}

.swiper-pagination {
  display: none;
}

.swiper-relative {
  position: relative;
}

.demo-arrow {
  position: absolute;
  bottom: 40px;
}

.swiper-container .logo img{
  float:left;
  width: 26%;
  padding: 20px 0;
}

.t1,
.t2{
    position: relative;
    height: 100%;
  }

  .swiper-container[stype="t1"],
    .swiper-container[stype="t2"]{
    width: 100%;
    height: 80%;
  }

  .swiper-slide[stype="t1"],
  .swiper-slide[stype="t2"]{
   text-align: center;
    font-size: 18px;
    background: #fff;
    // width: 85% !important;
    border-radius: 0px ;
    margin-left: 30px;
    margin-right: 0px !important;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.navbar-nav {
  margin-top: 35px;
}

.navbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color:rgba(6,23,74,0.6);
  padding: 10px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-collapse > ul > li {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 15px;

  position: relative;
}
.navbar-collapse > ul > li:before {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  margin-left: -18px;
  top: calc(50% - 10px);
}
.navbar-collapse > ul > li:first-child:before {
  content: none;
}


.navbar-collapse > ul > li:first-child {
  border-left: none;
}
.nav > li > a {
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  opacity: 0.7;
}

.intro-body{
  position: relative;

}

.intro-about{
  position: absolute;
  margin-top: 10px;
  width: 95%;
  height: 275%;
  background:rgba(255,255,255,0.7);
  padding: 30px;
}

.downarrow{
  position: absolute;
  bottom: 0;
  width: 50%;
}

#showcase img{
  width:90%;
  margin-top:100px;
  margin-left: -250px;
}

.banner-opacity1 img{
  position: absolute;
  float:left;
  width: 80%;
  top: 0px;
  left: -150px;
  z-index: 99;
}

.banner-opacity2 img{
  position: absolute;
  float:left;
  width: 120%;
  top: -340px;
  left: -50px;
}

.banner-opacity3 img{
  position: absolute;
  float:left;
  width: 120%;
  padding: 0px;
  top: -430px;
  left: 50px;
}
.showcase-left{
  opacity: 1!important;
  position: relative;
}

.row {
  position: relative;
  margin-top: -5%;
}

.rectangle{
  position: relative;
  width: 50%;
  height: 700px;
  background: #E9EEF7;
  top:-100px;
  left: -20%;
}

@media (max-width:1440px) {
  .container{
  width:1170px;

  }
}
@media (max-width:992px) {
  .container{
  width:970px;
  }
}
@media (max-width:768px) {
  .navigation-clean-button {
    padding-top:0;
    padding-bottom:0;
  }

  #showcase img{
    width:0;
    margin-top:100px;
    margin-left: 0px;
  }
}

@media (max-width:768px) {
  .navigation-clean-button .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:768px) {
  .navigation-clean-button .navbar-right {
    margin-bottom:20px;
  }
}

.content-section {
height: 100%;
}


// <!--sectionbutton-->

// section {
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

#section01 a img {
  position: fixed;
  top: -350;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  animation: next 2s infinite;
  z-index: 99;
}

@keyframes next {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

#section01 a span {
  position: fixed;
  top: -350;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  z-index: 99;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

// <!--overlay-->
// .button {
// 	display:inline;
// 	position:absolute;
// 	right:50px;
// 	top:6px;
// 	z-index:999;
// 	font-size:30px;
// }
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#34B484;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #34B484;
}


/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#ECECEB;
	overflow:auto;
	z-index:99;
}
.wrap {
  float: right;
	max-width:90%;
	margin:0 auto;
}
.header .bz-main-mennu {
    float: right;
}

.wrap ul.wrap-nav {
	text-transform:capitalize;
	padding:0px;
  margin-top: 50px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}
.wrap ul.wrap-nav li a {
  position: relative;
  top: 100%;
  left: -50%;
  min-width: 215px;
  background-color: #2155A2;
  padding: 20px 50px;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}

.wrap-nav ul li a{
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 15px;
  float: left;
}

.wrap-nav ul li {
  list-style: none;
  position: relative;
}

.content1 .wrap-nav>li {
  list-style: none;
  position: relative;
}

.wrap img {
  position: absolute;
  float:left;
  width: 30%;
  top: 30px;
  left: 30px;
}


// <!-- TEAM裡的選單 CSS 在這  -->

// .scrollable-menu {
//    height: auto;
//    max-height: 280px;
//    overflow-x: hidden;
// }
.team_menu_btn,.team_menu_list{
 color:#fff;
 background-color: #2155A2;
 text-align: left;
 text-decoration: none;
 min-width: 215px;
}
.team_menu_btn{
  width: 230px;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px
}

#mCSB_1_container li{
 border-bottom:2px dotted #fff;
}
#mCSB_1_container li{
padding: 5px 0 5px 20px;
}
#mCSB_1_container#mCSB_1_container li a:hover{
color:#fff;
 background-color: #2155A2;
}
#mCSB_1_container:hover,#mCSB_1_container:active,#mCSB_1_container:visited{
 color:#fff !important;
 background-color: #2155A2 !important;
}

#mCSB_2_container li{
 border-bottom:2px dotted #fff;
}
#mCSB_2_container li{
padding: 5px 0 5px 20px;
}
#mCSB_2_container#mCSB_2_container li a:hover{
color:#fff;
 background-color: #2155A2;
}
#mCSB_2_container:hover,#mCSB_2_container:active,#mCSB_2_container:visited{
 color:#fff !important;
 background-color: #2155A2 !important;
}

.dropdown-menu>li>a {
    display: block;
    font-size: 18px;
    padding: 10px 30px;
    clear: both;
    line-height: 1.42857143;
    color: #fff;
    white-space: pre-line;
}

.dropdown-menu>li>a:hover{
    background-color: #2155A2;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 230px;
}

    /* mCustomScrollbar*/
#box{
    width:400px;
    height:400px;
    overflow:hidden;
    margin: 100px auto;
}

.content1{
    white-space:nowrap;
    width: 100%;
    height: 100%;
    background-color: skyblue;
}


  /* 建築物室內圖片*/
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  width: 10%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  font-family: 'Font Awesome 5 Free';
  color: #fff !important;
  position: absolute;
  opacity: 1 !important;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
